@import url('https://fonts.cdnfonts.com/css/public-sans');

.gridContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 240px 112px 112px;
  grid-template-rows: 22px 40px 40px 40px 40px 40px 40px 40px 40px 22px 40px 40px 40px 40px 40px 40px;
  grid-gap: 20px;
  text-align: left;
  font-family: 'Public Sans' sans-serif;
  box-sizing: border-box;
  min-width: 600px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 4;
  font-family: 'Public Sans';
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

 .item2,
 .item3,
 .item4,
 .item5,
 .item6,
 .item7,
 .item8,
 .item9,
 .item10,
 .item11,
 .item12,
 .item14,
 .item15,
 .item16,
 .item17,
 .item18,
 .item19,
 .item20,
 .item21,
 .item22,
 .item23,
 .item24,
 .item25,
 .item26,
 .item27,
 .item28,
 .item29,
 .item30,
 .item31 {
  position: relative;
} 

.item3 {
  grid-column-start: 2;
  grid-column-end: 4;
}

/* .item4 {
  border: 1px solid white;
} */

.item5 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.item6 {
  height: 40px;
}

.item7 {
  grid-column-start: 2;
  grid-column-end: 4;
}

/* .item8 {
  border: 1px solid white;
}

.item9 {
  border: 1px solid white;
}

.item10 {
  border: 1px solid white;
}

.item11 {
  border: 1px solid white;
} */

.item12 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.item13 {
  height: fit-content;
  display: flex;
  align-items: center;
  align-self: center;
  font-family: 'Public Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 0 0 0 12px;
  justify-content: left;
} 

.item14 {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
}

.item15 {
  height: 40px;;
  width: 100%;
  box-sizing: border-box;
}

/* .item16 {
  border: 2px solid red;
} */

.item17 {
  height: 40px;;
  width: 100%;
  box-sizing: border-box;
}

.item18 {
  height: 40px;;
  width: 100%;
  box-sizing: border-box;
}

/* .item19 {
  border: 2px solid red;
} */

.item20 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.item21 {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: left;
  font-family: 'Public Sans';
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

/* .item22 {
  border: 2px solid red;
} */

.item23 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.item24 {
  height: fit-content;
  display: flex;
  align-items: center;
  align-self: center;
  font-family: 'Public Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 0 0 0 12px;
  justify-content: left;
}

.item25 {
  height: 40px;;
  width: 100%;
  box-sizing: border-box;
}

.item26 {
  height: 40px;;
  width: 100%;
  box-sizing: border-box;
}

/* .item27 {
  border: 2px solid red;
} */

.item28 {
  height: 40px;;
  width: 100%;
  box-sizing: border-box;
}

.item29 {
  height: 40px;;
  width: 100%;
  box-sizing: border-box;
}

/* .item30 {
  border: 2px solid red;
} */

.item31 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.item32 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.item33 {
  grid-column-start: 1;
  grid-column-end: 4;
  display:flex;
  justify-content: right;
}

.createOfferButton {
  width: 146px;
  height: 36px;
  text-align: center;
  padding: 6px 16px 6px 16px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}