*{
    font-family: Barlow;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;

}

Title{
    font-family: Barlow;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left; 
}

.topCard{
    gap: "50px"
}